<article class="card">
<div class="wrap-card">
    <div class="card-title">{{cardTitle}}</div>
<div class="card-price">
    <div class="card-price__detail">
        <p class="dolar">$</p>
        <p class="price">{{price}}</p>
    </div>
    <div class="year">YEAR</div>
    <div class="personal-account">
        <div class="account">{{account}}</div>
        <div class="data">{{data}}</div>
        <div class="upload-perday">{{uploads}}</div>
    </div>
    <div class="purchase " >PURCHASE</div>
</div>
</div>
</article>