<header class="header-main">
    <div class="container">
        <div class="header-main__top">
            <a href="javascript:void(0)" class="header-main__logo">HOFMANN</a>
            <div class="menu">
                <nav>
                    <ul class="menu__list">
                        <li><a href="javascript:void(0)" class="title--third link-main menu__link">MISSION</a></li>
                        <li><a href="javascript:void(0)" class="title--third link-main menu__link">SERVICES</a></li>
                        <li><a href="javascript:void(0)" class="title--third link-main menu__link">ABOUT</a></li>
                    </ul>
                </nav>
                <div class="menu-box">
                    <div class="menu-box__content">TAKE A TOOR</div>
                </div>
            </div>
        </div>

        <div class="header-main__bottom">
            <div class="overlay"></div>
            <div class="header-main__content">
                <div class="header-main__content--child">
                    <p class="title--main">
                        Choosing The Right Boutique Hotel For You
                    </p>
                    <p class="sub-title header-main__sub-title">
                        How To Fly A Private Jet On Your Next Trip
                    </p>
                    <div class="action">
                        <input type="email " class="email header-email" name="" id="" placeholder="Your Email">
                        <input type="submit" class="header-submit" value="FIND NOW">
                    </div>
                    <div class="header-main__service">
                        <div class="icon">
                            <img src="../assets/images/desktop/Plane.png" alt="plan-icon" class="icon-child">
                        </div>

                        <div class="icon icon-middle">
                            <img src="../assets/images/desktop/Stroke 1.png" alt="plan-icon" class="icon-child ">
                        </div>

                        <div class="icon">
                            <img src="../assets/images/desktop/Stroke 1.png" alt="plan-icon" class="icon-child">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>